<table>
  <tbody>
    <tr>
      <td>Id</td>
      <td><%- userData.id %></td>
    </tr>
    <tr>
      <td>First Name</td>
      <td><%- userData.first_name %></td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td><%- userData.last_name %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%- userData.email_id %></td>
    </tr>
    <tr>
      <td>DOB</td>
      <td><%- userData.dob %></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td><%- userData.gender %></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><%- userData.phone %></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><%- userData.password %></td>
    </tr>
    <tr>
      <td>Deleted</td>
      <td><%- userData.is_deleted %></td>
    </tr>
    <tr>
      <td>Created At</td>
      <td><%- userData.created_at %></td>
    </tr>
  </tbody>
</table>
